body {
    background-color: gray;
    color: white;
    font-family: "Arial","Arial Black","Verdana";
}

h1 {
    color: blue;
    font-size:40pt;
}

h2 {
    color:blue;
}

a {
    color:red;
}

strong {
    color:yellow;
}
