body {
    font-size: 10px;
    color: blue;
    background-color: yellow;
}

p {
    color: yellow;
    background-color: pink;
    font-size: 20px;
}

h1,h2 {
    color: blue;
}

h1{
    font-size: 30px;
    font-weight: blod;
    color: red;
}

h2 {
    font-weight: bold;
}
