body {
    background-color: gray;
    color: white;
    font-family: "Arial","Arial Black","Verdana";
}

h1 {
    color: blue;
    font-size:40pt;
}

h2 {
    color:blue;
}

strong {
    color:yellow;
}

a:link {
    color: red;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

a:visited {
    color:pink;
    text-decoration:overline;
}

p:first-letter {
    font-size: 300%;
}

